/*Fonts*/
$font-stack: 'Open Sans', sans-serif;

/*Colors*/
$color-neutral: #ffffff;
$color-text: #898989;
$color-one: #f7941e;
$color-footer: #c9c9c9;
$color-two: #ec007a;
$color-header: #eeeeee;
$color-three: #20b7ce;


